#root {
  max-width: 760px;
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 3px solid #397BB4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

